<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Input Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <form [formGroup]="taskForm" (ngSubmit)="submitTask()">

    <ion-item>
      <ion-label position="stacked">Task Title</ion-label>
      <ion-input formControlName="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select formControlName="category" placeholder="Select Category">
        <ion-select-option value="school">School</ion-select-option>
        <ion-select-option value="work">Work</ion-select-option>
        <ion-select-option value="social">Social</ion-select-option>
      </ion-select>
    </ion-item>

  

    <ion-button expand="full" type="submit" [disabled]="taskForm.invalid">
      Submit Task
    </ion-button>

  </form>



  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
